{% load static %}
<div class="fixed-plugin">
  <a href="#" class="plugin-toggle">
    <i class="fa fa-cog fa-2x"></i>
  </a>
  <div class="plugin-menu">
    <ul>
      <li class="header-title">Sidebar Background</li>
      <li class="adjustments-line">
        <div class="badge-colors text-center">
          <span class="badge filter badge-primary active" data-color="primary"></span>
          <span class="badge filter badge-info" data-color="blue"></span>
          <span class="badge filter badge-success" data-color="green"></span>
        </div>
      </li>
      <li class="adjustments-line color-change text-center">
        <span class="color-label">LIGHT MODE</span>
        <span class="badge light-badge mr-2"></span>
        <span class="badge dark-badge ml-2"></span>
        <span class="color-label">DARK MODE</span>
      </li>
      <li class="button-container">
        <a href="https://app-generator.dev/support/" target="_blank" class="btn btn-primary btn-primary btn-block btn-round">Support</a>
      </li>
      <li class="header-title">Thank you for 95 shares!</li>
      <li class="button-container text-center">
        <button id="twitter" class="btn btn-primary btn-round btn-primary"><i class="fab fa-twitter"></i> &middot; 45</button>
        <button id="facebook" class="btn btn-primary btn-round btn-primary"><i class="fab fa-facebook-f"></i> &middot; 50</button>
        <br><br>
        <a class="github-button" href="https://github.com/app-generator/django-black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
      </li>
    </ul>
  </div>
</div>