{% load static %}
<nav class="navbar fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <button type="button" class="navbar-toggler">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RTL</a>
    </div>
    <ul class="navbar-nav mr-auto">
      <!-- rtl toggle -->
      <li class="nav-item d-flex align-items-center mb-0">
        <label class="switch theme-switch"><input type="checkbox" class="bsc" checked><span class="slider"></span></label>
      </li>
      <!-- search -->
      <li class="nav-item">
        <button class="btn btn-primary btn-link" id="search-button" data-target="#searchModal">
          <i class="tim-icons icon-zoom-split"></i>
        </button>
      </li>
      <!-- notifications/profile similar to navbar.html -->
    </ul>
  </div>
</nav>