{% load static %}
<nav class="sidebar" data-color="black" data-active-color="danger">
  <div class="logo">
    <a href="{% url 'home' %}" class="simple-text logo-mini">
      <img src="{% static 'black-dashboard/assets/img/logo-small.png' %}" alt="Logo"/>
    </a>
    <a href="{% url 'home' %}" class="simple-text logo-normal">
      Fin360
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <!-- Dashboard -->
      <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <a href="{% url 'home' %}">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <!-- Administração -->
      <li>
        <a data-toggle="collapse" href="#adminMenu" aria-expanded="{% if request.resolver_match.url_name == 'investment_type_list' %}true{% else %}false{% endif %}">
          <i class="tim-icons icon-settings-gear-63"></i>
          <p>
            Administração
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse {% if request.resolver_match.url_name == 'investment_type_list' %}show{% endif %}" id="adminMenu">
          <ul class="nav">
            <li class="{% if request.resolver_match.url_name == 'investment_type_list' %}active{% endif %}">
              <a href="{% url 'investment_type_list' %}">
                <i class="tim-icons icon-attach-87"></i>
                <p>Tipo de investimento</p>
              </a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">
              <a href="{% url 'category_list' %}">
                <i class="tim-icons icon-attach-87"></i>
                <p>Categorias de investimento</p>
              </a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'institution_list' %}active{% endif %}">
              <a href="{% url 'institution_list' %}">
                <i class="tim-icons icon-attach-87"></i>
                <p>Instituíções Financeiras</p>
              </a>
            </li>
          </ul>
        </div>
      </li>
       <!-- Portifolio -->
      <li class="{% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}">
        <a href="{% url 'portfolio' %}">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Portifolio</p>
        </a>
      </li>
      {# outros itens do menu... #}

    </ul>
  </div>
</nav>
