
{% load static %}
<nav class="sidebar sidebar-wrapper">
  <div class="logo">
    <a href="{% url 'home' %}" class="simple-text logo-mini">
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" />
    </a>
    <a href="{% url 'home' %}" class="simple-text logo-normal">
      Fin360
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item{% if request.resolver_match.url_name == 'home' %} active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item has-submenu{% if request.resolver_match.url_name == 'investment_type_list' or request.resolver_match.url_name == 'category_list' or request.resolver_match.url_name == 'institution_list' or request.resolver_match.url_name == 'index_summary' %} open{% endif %}">
        <a class="nav-link" href="#">
          <i class="tim-icons icon-settings-gear-63"></i>
          <p>
            Administração <b class="caret"></b>
          </p>
        </a>
        <ul class="submenu">
          <li class="{% if request.resolver_match.url_name == 'investment_type_list' %}active{% endif %}">
            <a href="{% url 'investment_type_list' %}">
              <i class="tim-icons icon-attach-87"></i>
              <p>Tipo de investimento</p>
            </a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'category_list' %}active{% endif %}">
            <a href="{% url 'category_list' %}">
              <i class="tim-icons icon-attach-87"></i>
              <p>Categorias de investimento</p>
            </a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'institution_list' %}active{% endif %}">
            <a href="{% url 'institution_list' %}">
              <i class="tim-icons icon-attach-87"></i>
              <p>Instituições Financeiras</p>
            </a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'index_summary' %}active{% endif %}">
            <a href="{% url 'index_summary' %}">
              <i class="tim-icons icon-chart-bar-32"></i>
              <p>Índices de investimento</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item{% if request.resolver_match.url_name == 'portfolio' %} active{% endif %}">
        <a class="nav-link" href="{% url 'portfolio' %}">
          <i class="tim-icons icon-wallet-43"></i>
          <p>Portfólio</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
