{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col">
    <h2>Categorias de Investimento</h2>
    <a href="{% url 'category_create' %}" class="btn btn-primary mb-3">Nova Categoria</a>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for cat in categories %}
        <tr>
          <td>{{ cat.name }}</td>
          <td>{{ cat.description|default:"-"|truncatechars:50 }}</td>
          <td>
              <a href="{% url 'category_update' cat.pk %}">Editar</a> |
            <a href="{% url 'category_delete' cat.pk %}">Excluir</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">Nenhum tipo cadastrado.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}