{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <!-- Cabeçalho com título, botão e valor total -->
  <div class="row mb-4">
    <div class="col-md-6">
      <h2>Minha Carteira de Investimentos</h2>
    </div>
    <div class="col-md-6 text-right">
      {# Botão de Importar PDFs #}
      <a href="{% url 'investment_import' %}" class="btn btn-sm btn-success">
        <i class="fa fa-upload"></i> Importar PDFs
      </a>
      {# Valor Total (mantido inline) #}
      <h4 class="d-inline-block ml-3">Valor Total: R$ {{ total_portfolio|floatformat:2 }}</h4>
    </div>
  </div>

  <!-- Cards de cada categoria -->
  {% for category in categories %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-white">
          <h4 class="card-title">{{ category.name }}</h4>
        </div>
        <div class="card-body table-responsive">
          <!-- sua tabela existente -->
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
